@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: none;
}
header{
    display: flex;
    width: 100vw;
    height: 8vh;
    background-color: #7431f8;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0 25px #1e005b5e;
}
.name{
    font-size: 35px;
    font-weight: 500;
    color: white;
}
.title{
    display: flex;
    flex-direction: row;
}
.subname{
    margin-top: 12px;
    margin-left: 5px;
    color: #3800a8;
}
.photoProfile{
    display: flex;
    margin: 70px 0 0 50px;
    align-items: center;
    justify-content: center;
}
.photoProfile img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    box-shadow: 0px 0 25px #1e005b5e;
}
.social-Midias{
    margin-right: 50px;
    font-size: 30px;
}
.social-Midias a{
    color: white;
}
.social-Midias a:hover{
    color: #3800a8;
    transition: color 0.2s;
}

.titlePage{
    color: #7431f8;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 25px;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 25em;
    height: 27em;
    background-color: #7431f8;
    border-radius: 25px;
    align-items: center;
    box-shadow: 5px 0 30px #1e005b25;
    margin: 0 50px 70px;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 10px 0 80px #1e005b46;
    border: 3px solid #6f00ff;
}
.lines{
    display: flex;
    flex-direction: row;
}
.photoProject{
    width: 25em;
    height: 15em;
}
.card img{
    width: 25em;
    height: 15em;
    border-radius: 25px 25px 0 0;
}
.titleProject{
    margin-top: 5px;
    color: white;
    font-size: 30px;
    font-weight: 500;
}
.description{
    color: white;
    font-size: 13px;
    padding: 12px;
}
.languagesUsed{
    font-size: 30px;
}
.bi-filetype-html{
    color: orange;
}
.bi-filetype-js{
    color: yellow;
}
.bi-filetype-css{
    color: cyan;
}

@media (width: 1440px){
    .social-Midias{
        margin-right: 130px;
        font-size: 35px;
    }
}
@media (width: 2560px){
    .name{
        font-size: 55px;
    }
    .subname{
        font-size: 30px;
    }
    .social-Midias{
        margin-right: 220px;
        font-size: 45px;
    }
    .photoProfile img{
        transform: scale(1.5);
        margin-top: 35px;
        margin-left: 30px;
    }
    .card{
        transform: scale(1.6);
        margin-top: 125px;
    }
    .titlePage{
        font-size: 70px;
    }
}
@media (max-width: 1025px){
    .social-Midias{
        margin-right: 100px;
    }
    .photoProfile img{
        transform: scale(0.85);
    }
}

@media (max-width: 426px) {
    header{
        width: 120vw;
        height: 10vh;
    }
    .name{
        font-size: 24px;
        font-weight: 500;
        color: white;
    }
    .subname{
        font-size: 15px;
        margin-top: 5px;
        margin-left: 5px;
    }
    .photoProfile{
        margin: 30px 0 0 30px;
    }
    .photoProfile img{
        width: 90px;
        height: 90px;
    }
    .social-Midias{
        margin-right: 50px;
        font-size: 25px;
    }
    .titlePage{
        margin-bottom: 5px;
    }
    .card{
        transform: scale(0.9);
    }
    .projects{
        display: flex;
        flex-direction: column;
        margin-left: 85px;
    }
}
@media (max-width: 376px) {
    header{
        width: 128vw;
        height: 12vh;
    }
    .name{
        font-size: 25px;
    }
    .subname{
        font-size: 16px;
        margin-top: 5px;
        margin-left: 5px;
    }
    .photoProfile{
        margin: 30px 0 0 20px;
    }
    .photoProfile img{
        width: 90px;
        height: 90px;
    }
    .social-Midias{
        margin-right: 35px;
        font-size: 25px;
    }
    .card{
        transform: scale(0.9);
    }
    .projects{
        display: flex;
        flex-direction: column;
        margin-left: 85px;
    }
}
@media (max-width: 321px) {
    header{
        width: 131.2vw;
        height: 12vh;
    }
    .name{
        font-size: 25px;
    }
    .photoProfile{
        margin: 20px 0 0 20px;
    }
    .photoProfile img{
        transform: scale(1.1);
        margin: 20px 0 0 10px;
    }
    .social-Midias{
        margin-right: 30px;
        font-size: 25px;
    }
    .projects{
        transform: scale(0.87);
    }
}
