@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to top, #7431f8, #3800a8);
}
header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    z-index: 5;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list li{
    letter-spacing: 2px;
    margin-left: 25px;
}
.nav-list a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
}
.nav-list a:hover{
    transition: 0.3s;
    color: #8b50ff;
    font-weight: 600;
    
}
.nav-list li:hover{
    transform: scale(1.1);
    transition: 0.2s;
    
}

.about{
    display: flex;
    flex-direction: column;
    margin: 35vh 0 0 25px;
}
.about span{
    font-size: 18px;
    color: white;
}
.about p{
    font-size: 15px;
    margin-top: 50px;
    font-weight: 200;
    color: white;
}
.myName{
    font-size: 23px;
}
.F-E{
    animation: blink 800ms steps(10) infinite normal;
    border-right: 3px solid #3800a8;
}
@keyframes blink {
    from {
        border-color: black;
    }
    to {
        border-color: transparent;
    }
}
.photoProfile img{
    position: absolute;
    top: 100px;
    left: 85px;
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    box-shadow: 0px 0 25px #1e005b5e;
}
.photoProfile img:hover{
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 0px 0 100px #1e005b88;
}
.footer{
    display: flex;
    position: fixed;
    left: 0;
    bottom: 35px;
    justify-content: center;
    width: 100%;
    height: 100px;
}
.social-Midias{
    display: flex;
    position: fixed;
}
.social-Midias a{
    font-size: 30px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 10px;
    color: white;
}
.social-Midias a:hover{
    transform: scale(1.2);
    transition: 0.3s;
    color: #3800a8;
}
.one{
    position: absolute;
    bottom: -200px;
    left: -200px;
    width: 50vh;
    height: 50vh;
    background-color: #3800a82c;
    border-radius: 100%;
}
.one1{
    position: absolute;
    bottom: -100px;
    left: -100px;
    width: 30vh;
    height: 30vh;
    background-color: #3800a82c;
    border-radius: 100%;
}
.two{
    position: absolute;
    bottom: 0;
    right: -500px;
    width: 100vh;
    height: 100vh;
    z-index: -100;
    background-color: #3800a880;
    border-radius: 100%;
}
.two2{
    position: absolute;
    bottom: 100px;
    right: -500px;
    width: 80vh;
    height: 80vh;
    z-index: -100;
    background-color: #3800a896;
    border-radius: 100%;
}

@media (min-width: 375px) {
    .about{
        margin: 37vh 0 0 20px;
    }
    .photoProfile img{
        left: 115px;
        transform: scale(1.15);
    }
    .photoProfile img:hover{
        transform: scale(1.25);
    }
}
@media (min-width: 425px) {
    .about{
        margin: 37vh 0 0 30px;
    }
    .myName{
        font-size: 26px;
    }
    .about span{
        font-size: 23px;
    }
    .about p{
        font-size: 17px;
    }
    .photoProfile img{
        left: 135px;
        transform: scale(1.25);
    }
    .photoProfile img:hover{
        transform: scale(1.35);
    }
}
@media (min-width: 768px) {
    .nav-list{
        margin-left: 35px;
    }
    .nav-list li{
        letter-spacing: 4px;
        margin-left: 35px;
    }
    .nav-list a{
        color: white;
        font-size: 20px;
        text-decoration: none;
        font-weight: 500;
    }
    .about{
        margin: 43vh 0 0 50px;
    }
    .myName{
        font-size: 35px;
    }
    .about span{
        font-size: 30px;
    }
    .about p{
        font-size: 20px;
    }
    .photoProfile img{
        top: 125px;
        left: 42vh;
        transform: scale(1.45);
    }
    .photoProfile img:hover{
        transform: scale(1.6);
    }
}
@media (min-width: 1024px) {
    .nav-list{
        margin-left: 35px;
    }
    .nav-list li{
        letter-spacing: 4px;
        margin-left: 35px;
    }
    .nav-list a{
        color: white;
        font-size: 25px;
        text-decoration: none;
        font-weight: 500;
    }
    .about{
        margin: 30vh 0 0 45px;
    }
    .myName{
        font-size: 35px;
    }
    .about span{
        font-size: 30px;
    }
    .about p{
        font-size: 20px;
    }
    .photoProfile img{
        left: 98vh;
        top: 35vh;
        transform: scale(2);
    }
    .photoProfile img:hover{
        transform: scale(2.2);
    }
    .social-Midias a{
        font-size: 40px;
    }
}
@media (min-width: 1440px) {
    .nav-list li{
        letter-spacing: 4px;
        margin-left: 35px;
    }
    .nav-list a{
        color: white;
        font-size: 25px;
        text-decoration: none;
        font-weight: 500;
    }
    .about{
        margin: 30vh 0 0 80px;
    }
    .myName{
        font-size: 45px;
    }
    .about span{
        font-size: 40px;
    }
    .about p{
        font-size: 25px;
    }
    .photoProfile img{
        top: 35vh;
        left: 97vh;
        transform: scale(2.3);
    }
    .photoProfile img:hover{
        transform: scale(2.5);
    }
    .social-Midias a{
        font-size: 40px;
    }
}
@media (min-width: 1440px) {
    .nav-list li{
        letter-spacing: 4px;
        margin-left: 35px;
    }
    .nav-list a{
        color: white;
        font-size: 25px;
        text-decoration: none;
        font-weight: 500;
    }
    .about{
        margin: 30vh 0 0 100px;
    }
    .myName{
        font-size: 45px;
    }
    .about span{
        font-size: 40px;
    }
    .about p{
        font-size: 25px;
    }
    .photoProfile img{
        top: 38vh;
        left: 145vh;
        transform: scale(2.8);
    }
    .photoProfile img:hover{
        transform: scale(3.1);
    }
    .social-Midias a{
        font-size: 45px;
    }
}
