@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    background: #7431f8;
    z-index: 999px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0 15px #1e005b5e;
}
.title{
    display: flex;
    flex-direction: row;
}
.name{
    font-size: 18px;
    font-weight: 500;
    margin-right: 15px;
    color: white;
}
.photoProfile img{
    margin: 45px 0 0 15px;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    box-shadow: 0px 0 25px #1e005b5e;
}
.social-Midias{
    font-size: 18px;
    margin-right: 25px;
}
.social-Midias a{
    color: white;
}
.social-Midias a:hover{
    color: #3800a8;
    transition: color 0.2s;
}

.titlePage{
    color: #7431f8;
    font-weight: 500;
    font-size: 25px;
    margin-top: 45px;
    margin-bottom: 15px;
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    overflow-x: hidden;
}
.card{
    display: flex;
    flex-direction: column;
    width: 17em;
    height: 20em;
    background-color: #7431f8;
    border-radius: 25px;
    align-items: center;
    box-shadow: 5px 0 5px #1e005b25;
    margin: 0 50px 70px;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 10px 0 10px #1e005b46;
    border: 3px solid #6f00ff;
}
.lines{
    display: flex;
    flex-direction: row;
}
.photoProject img{
    width: 17em;
    height: 10em;
    border-radius: 25px 25px 0 0;
}
.titleProject{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.description{
    color: white;
    font-size: 10px;
    padding: 12px;
}
@media (max-width: 319px) {
    .photoProfile img{
        transform: scale(0.9);
    }
    .name{
        font-size: 14px;
    }
    .social-Midias{
        font-size: 16px;
        margin-right: 18px;
    }
    .card{
        transform: scale(0.9);
    }
}
@media (min-width: 376px) {
    .name{
        font-size: 20px;
    }
    .photoProfile img{
        transform: scale(1);
    }
    .card{
        transform: scale(1.1);
        margin-top: 10px;
    }
    .card:hover{
        transform: scale(1.15);
    }
}
@media (min-width: 426px) {
    .name{
        font-size: 23px;
    }
    .social-Midias{
        font-size: 20px;
    }
    .photoProfile img{
        transform: scale(1.1);
        margin: 60px 0 0 25px;
    }
    .card{
        transform: scale(1.1);
        margin-top: 10px;
    }
    .card:hover{
        transform: scale(1.15);
    }
}
@media (min-width: 769px) {
    .name{
        font-size: 26px;
    }
    .social-Midias{
        font-size: 25px;
    }
    .photoProfile img{
        transform: scale(1.2);
        margin: 65px 0 0 40px;
    }
    .projects{
        overflow-x: visible;
    }
    .card{
        transform: scale(1.3);
    }
    .card:hover{
        transform: scale(1.35);
    }
    .titlePage{
        color: #7431f8;
        font-size: 35px;
        margin-top: 40px;
        margin-bottom: 50px;
    }
}
@media (min-width: 1440px) {
    .name{
        font-size: 35px;
    }
    .social-Midias{
        font-size: 25px;
    }
    .photoProfile img{
        transform: scale(1.2);
        margin: 65px 0 0 40px;
    }
    .card{
        transform: scale(1.6);
    }
    .card:hover{
        transform: scale(1.65);
    }
    .titlePage{
        color: #7431f8;
        font-size: 35px;
        margin-top: 70px;
        margin-bottom: 100px;
    }
    .projects{
        overflow-x: visible;
    }
}
@media (min-width: 1920px) {
    .name{
        font-size: 45px;
    }
    .social-Midias{
        font-size: 35px;
        margin-right: 35px;
    }
    .photoProfile img{
        transform: scale(1.7);
        margin: 100px 0 0 70px;
    }
    .card{
        transform: scale(1.6);
    }
    .card:hover{
        transform: scale(1.65);
    }
    .titlePage{
        font-size: 35px;
        margin-top: 80px;
        margin-bottom: 125px;
    }
    .projects{
        overflow-x: visible;
    }
}