@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #4100c2;
    background-repeat: no-repeat;
}
header{
    display: flex;
    width: 100%;
    height: 10vh;
    padding-top: 5px;
    top: 0;
    left: 0;
    z-index: 5;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #5500ff00, #24006b);
}
.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list li{
    letter-spacing: 2px;
    margin-left: 25px;
}
.nav-list a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
}
.nav-list a:hover{
    transition: 0.3s;
    color: #8b50ff;
    font-weight: 600;
    cursor: pointer;
}
.nav-list li:hover{
    transform: scale(1.1);
    transition: 0.2s;
    
}
.titlePage{
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}
.card{
    display: flex;
    flex-direction: column;
    width: 17em;
    height: 20em;
    background-color: #7431f8;
    border-radius: 25px;
    align-items: center;
    box-shadow: 0 0 20px #1e005b25;
    margin: 0 50px 30px;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 0 50px #1e005b46;
}

.lines{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.titleProject{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.description{
    color: white;
    opacity: .9;
    font-size: 10px;
    text-align: center;
    padding: 12px 15px 12px 15px;
}
.forcagameimg img{
    width: 17em;
    height: 10em;
    border-radius: 25px 25px 0 0;
    background-image: url("https://i.pinimg.com/564x/6d/56/17/6d561719f00d78546a16fee394c46e07.jpg");
    background-size: cover;
    background-color: lightgray;
}
.iphonepage img{
    width: 17em;
    height: 10em;
    border-radius: 25px 25px 0 0;
    background-image: url("https://i.pinimg.com/564x/54/f3/6a/54f36af5676857284a0a0f30c5d1b7ee.jpg");
    background-size: cover;
}

@media (min-width: 300px) {
    body{
        height: 120vh;
    }
    .lines{
        gap: 0;
    }
}
@media (min-width: 425px) {
    body{
        height: 155vh;
    }
    .card{
        transform: scale(1.25);
        margin: 50px 0 12vh;
    }
    .card:hover{
        transform: scale(1.3);
        transition: 0.3s;
    }
    .lines{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 768px) { 
    body{
        height: 170vh;
    }
    .nav-list li{
        letter-spacing: 4px;
        margin-left: 35px;
    }
    .nav-list a{
        color: white;
        font-size: 20px;
        text-decoration: none;
        font-weight: 500;
    }
    .titlePage{
        font-size: 30px;
        margin-bottom: 75px;
    }
    .card{
        transform: scale(1.4);
        margin: 50px 0 20vh;
    }
    .card:hover{
        transform: scale(1.45);
        transition: 0.3s;
    }
    .lines{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 1024px) {
    .nav-list li{
        letter-spacing: 4px;
        margin-left: 50px;
    }
    .nav-list a{
        color: white;
        font-size: 25px;
        text-decoration: none;
        font-weight: 500;
    }
    .titlePage{
        margin-bottom: 50px;
    }
    .card{
        transform: scale(1.1);
        margin: 0 25px 10vh;
    }
    .card:hover{
        transform: scale(1.2);
        transition: 0.3s;
    }
    .lines{
        display: flex;
        flex-direction: row;
        gap: 25px;
    }
}
@media (min-width: 1280px) {
    body{
        height: 100vh;
    }
    .nav-list li{
        letter-spacing: 4px;
        margin-left: 50px;
    }
    .nav-list a{
        color: white;
        font-size: 25px;
        text-decoration: none;
        font-weight: 500;
    }
}
@media (min-width: 1440px) {
    .nav-list li{
        letter-spacing: 4px;
        margin-left: 50px;
    }
    .nav-list a{
        color: white;
        font-size: 25px;
        text-decoration: none;
        font-weight: 500;
    }
    .titlePage{
        font-size: 40px;
        margin-bottom: 100px;
    }
    .card{
        transform: scale(1.4);
        margin: 0 70px 18vh;
    }
    .card:hover{
        transform: scale(1.55);
        transition: 0.4s;
    }
    .lines{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
}
